body { background: rgb(233, 91, 91);
background-image:url("C:/Users/Ziro I/Desktop/deusdeth/img/cores\ onduladas.PNG");    
margin-left: 50px;
margin-right: 150px;} 
header { margin-top: 50px;}

h1 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} 

h2 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

li { color:red;}

p { font-size: 25px;
color: white; }

.contato { color: white;}

a { color: white;}
