body { background: rgb(207, 7, 41);
background-image:url("https://github.com/jackson-deusdeth/MARITIMO-FC/blob/master/img/ondulada.PNG");   
margin-left: 50px;
margin-right: 150px;} 
header { margin-top: 50px;}

h1 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} 

h2 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

li { color:red;}

p { font-size: 25px;
color: white; }

.contato { color: white;}

a { color: white;}
