body { 
    background-image: url("/img/mar\ azul.PNG") ;
margin-left: 50px;
margin-right: 150px;}   

.square {
    width: 300px;
    height: 300px;
    background-image: url("/img/mar\ azul.P");
    border: solid 2px;
    text-shadow: white 0px 0px 2px;
    font-size: 100px;
    background-size: 250px;
  }

header { margin-top: 50px;}


h1 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} 

h2 { color: red;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

li { color:red;}

p { font-size: 35px;
color: black; }

.contato { color: black;}

a { color: black;}

